
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=McLaren&family=Sniglet:wght@400;800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: Arial, sans-serif;
  text-align: center;
      background-image:url('../image/IMG-1197.png');
  background-size:cover;
  font-family:"McLaren" !important;
  
}



body::before {
  content: "";

  position: fixed;
  inset: 0;

  backdrop-filter: blur(2px);

  pointer-events: none;

  z-index: -1;
}



.pet-container {
  position: fixed;

  left: 50%;
  bottom: 120px;

  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 100%;

}
#characterWrapper {
  pointer-events: auto;
}

img {
  width: 250px;
  user-select: none;
}

.progress-bar {
  width: 300px;
  height: 20px;
  border: 2px solid #333;
  border-radius:40px;
  margin: 20px auto;
  background: #ddd !important;
}

#progress {
  height: 100%;
  width: 0%;
  background-image:url(https://t4.ftcdn.net/jpg/02/52/92/75/360_F_252927550_o13IK6RuGYsOezhnWfWojoKM01XrxKmc.jpg);
  background: #92a3b6;
  transition: width 0.1s linear;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.ready img {
  transform: scale(1.15);
  cursor: pointer;
  transition: transform 0.3s;
}

img {
  width: 200px;
  transition: transform 0.4s, width 0.4s;
  cursor: pointer;
}


#particleContainer {
  position: relative;
  width: 0;
  height: 0;
}

.particle {
  position: absolute;
  width: 30px;
  pointer-events: none;
  animation: floatUp 1s linear forwards;
  transform:rotate(90deg)
}

@keyframes floatUp {
  0% { opacity: 1; transform: translateY(0) scale(0.7); }
  100% { opacity: 0; transform: translateY(-80px) scale(1.2); }
}



body {
  cursor: url("image/cursor_idle.png"), auto;
}

body.petting {
  cursor: url("image/cursor_pet.png"), auto;
}


@keyframes tap {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}

.tap {
  animation: tap 0.2s ease;
}


#petCursor {
  position: fixed;
  width: 48px;
  height: 48px;
  pointer-events: none;
  z-index: 9999;
  display: none;
  transform: translate(-50%, -50%);
}


body.petting {
  cursor: none;
}


body.petting #petCursor {
  animation: handBounce 0.25s infinite;
}

@keyframes handBounce {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.15) rotate(-10deg); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  user-select: none;
}


#characterWrapper {
  position: relative;
  width: fit-content;
    
}



#character {
  display: block;
  width: calc(52.5vh - 75px);
}

#characterHover {
  position: absolute;
  bottom: 0;
  left: 0;
   width: calc(52.5vh - 75px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease;
}



@media (max-width:786px) {
  #character {
  width: calc(42.5vh - 45px);
}

#characterHover {
   width: calc(42.5vh - 45px);
}

body {
  font-size:16.5px !important
}
}


#characterWrapper:hover #character {
  transform: scale(1.03);
  transition: transform 0.15s;
  filter: drop-shadow(0 3px 0px rgba(224, 234, 237)) drop-shadow(0 -2px 0px rgba(224, 234, 237)) drop-shadow(2px 0px 0px rgba(224, 234, 237)) drop-shadow(-2px 0px 0px rgba(224, 234, 237))
}


#characterHover {
  filter: drop-shadow(0 3px 0px rgba(224, 234, 237)) drop-shadow(0 -2px 0px rgba(224, 234, 237)) drop-shadow(2px 0px 0px rgba(224, 234, 237)) drop-shadow(-2px 0px 0px rgba(224, 234, 237));
}


#characterContainer{
  position:relative;
  width:400px;
  user-select:none;
}

.sprite{
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition:opacity 0.2s ease;
}

.sprite.active{
  opacity:1;
  pointer-events:auto;
}


body.petting #characterHover {
  opacity: 0 !important;
  visibility: hidden !important;
}


#characterWrapper.hovering #character {
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

#characterWrapper.hovering #characterHover {
  opacity: 1;
  visibility: visible;
}


.dropbtn {
  background-color: #88a4b7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:20px;
  
  
}


.dropdown {
 position:absolute !important;
  top:20px;
  right:20px !important
}

.dropdown-content {
  display: none;
  position: absolute;
  right:20px;
    background-color: #b7b2af;
  border: 10px solid #656060;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:900000;
  border-radius:20px;
}

.dropdown-content a {
  color: rgb(61, 61, 61);
  text-decoration: none;
  display: block;
}


.logo {
    max-width:30px;
    background-color:#fff;
    border-radius:10px
}

.dropdown-content .link:hover{
  background-color: #b9b3b3;
  text-decoration:none !important;
  color:#3e4c60;
  border-radius:10px;
  transition:all 0.3s ease
}

.dropdown-content .link-text:hover {
      text-decoration:none !important;
      color:#101010;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn  {
  background-color: #9b9586;  
  transition: 0.2s;
     transform:scale(1.05) !important
}

.switching-button {
    color:#b9b3b3;
    background-color:#656060;
      border:3px solid #1b1818;
    border-radius:20px;
    transition:0.35s
}

.switching-button:hover {
      color:#b9b3b3;
    background-color:#797272;
      border:3px solid #1b1818;
    border-radius:20px;
}


nav {
    background-image:linear-gradient(#000, rgba(235,235,235,0)) 
}

nav h1 a, nav h2 a {
    color:#ececec
}


h1,h2, h3 {
    color:#ececec
}
nav h1 a:hover, nav h2 a:hover {
    color:#ffffff;
    text-decoration:none !important;  
    transform:scale(1.03)
}

#hud {
  position: fixed;

  left: 0;
  bottom: 0;

  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: 16px;

  z-index: 999997;

  pointer-events: none;

  box-sizing: border-box;
}

.textbox {
  pointer-events: auto;

  width:calc(95vw);

  background-color: #b7b2af;

  border: 10px solid #656060;
  border-radius: 20px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.15);

  text-align: center;

  max-height: 80vh;
  overflow-y: auto;

  box-sizing: border-box;
}


#instruction {
    position:absolute;
    color:#b9b3b3;
    background-color:#656060;
      border:3px solid #1b1818;
    border-radius:20px;
    top:10.25vh;
   
}

.message {
    background-color: #b9b3b3;
    border-radius:7.5px
}
@keyframes petBounce {
  0%   { transform: translateY(0px) scaleY(1.05) scaleX(1.05); }
  50%  { transform: translateY(-1px) scaleY(1.045) scaleX(1.05) ;}
  100% { transform: translateY(0px) scaleY(1.05) scaleX(1.05); }
}

body.petting #character,
body.petting #characterHover {
  animation: petBounce 0.35s ease-in-out infinite;
  transform-origin:center bottom
}

#characterWrapper {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}


#restartBtn {
  background-color: #88a4b7;
  color: white;
  padding: 13px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:50px;
  transition: 0.2s;
  border:1px solid #333;
  z-index:10000 !important
}

#restartBtn:hover {
  transform: scale(1.08);
}

.hidden {
  display: none;
}


/* achievement css*/
#achievementToggle {
  position: fixed;
  top: 20px;
  right: 20px;

  z-index: 9999998;



  cursor: pointer;


  background-color: #88a4b7;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:20px;
  

}

#achievementToggle:hover {

  background-color: #9b9586;  
  transition: 0.2s;
     transform:scale(1.05) !important
}

#achievementSidebar {
  position: fixed;

  top: 0;
  left: -380px;

  width: 380px;
  height: 100vh;

  background: #2b2824;

  padding: 20px;

  transition: left 0.35s ease;

  z-index: 999999;

  overflow-y: auto;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  border:10px solid #555050;
  border-left:none !important;
  border-right:5px solid #555050 !important;

}

@media (max-width:400px) {
  #achievementSidebar {
  position: fixed;

  top: 0;
  left: 100vw;

  width: 100vw;
  height: 100vh;

  background: #2b2824;

  padding: 20px;

  transition: left 0.35s ease;

  z-index: 999999;

  overflow-y: auto;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border: none !important;
}
}

#achievementSidebar.open {
  left: 0;
}

.achievement {
  margin-bottom: 20px;
  cursor: pointer;
    justify-content:center;
  display:flex;
  padding:10px;
  border-radius:20px;
   border: 10px solid #65606000;
}

.achievement.unlocked {
    transition: 0.25s;
}

.achievement img {
  width: 170px;
  border-radius:20px;
  transition: 0.25s;
}

.achievement.locked img {
  filter:
    brightness(0)
    saturate(0)
    blur(3.5px);

  opacity: 0.4;
}

.achievement p {
  color: #b7b2af;
  text-align:center;
  margin-top:20px;
  margin-left:10px;
}

.achievement.unlocked:hover {
  transform: scale(1.05);
    background-color: #b7b2af;
      border: 10px solid #656060;
  border-radius:20px;
}


.achievement.unlocked:hover img {
 filter:drop-shadow(2px 2px 0px #2b2824)
}

.achievement.unlocked:hover p {
  color:#2b2824 !important
}



#achievementToast {
  position: fixed;

  top: 20px;
  right: 20px;

  background: rgb(197, 170, 122);

  padding: 16px 22px;

  border-radius: 14px;

  opacity: 0;
  pointer-events: none;

  transition: 0.3s;

  z-index: 9999999;
}

#achievementToast.show {
  opacity: 1;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555050;
  margin-top:2px;
  margin-bottom:2px;
  border-radius:20px
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88a4b7;
  transition:0.2s;
   border-radius:20px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88a4b7;
    transition:0.2s
}

@media (max-width:400px) {
  
/* width */
::-webkit-scrollbar {
  display:none;
}

}


/* bum ahh modal */

#achievementModal {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.75);

  display: none;

  justify-content: center;
  align-items: center;

  z-index: 9999999999;

  backdrop-filter: blur(4px);

}

#achievementModalContent {
  background: #d4d0c8;

  border: 6px solid #656060;
  border-radius: 24px;

  padding: 28px;

  width: min(500px, 92vw);

  text-align: center;

  box-shadow: 0 10px 40px rgba(0,0,0,0.35);

  animation: modalPop 0.2s ease-in-out;
}

#modalTitle {
  color: #2b2824
}

#achievementModal img {
  width: 300px;
  margin-bottom: 16px;
}

#achievementModal video {
  width: 100%;
  border-radius: 12px;
  margin-top: 14px;
}

@keyframes modalPop {
  from {
    transform: scale(0.85);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}


.sidebarmessage {
  font-size:0.85rem !important
}

/*bum ahh bucky*/
#eventLayer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 5000;
}

.randomEvent {
  position: fixed;

  width: 15.5vw;

  pointer-events: auto;
  cursor: pointer;

  user-select: none;
  -webkit-user-drag: none;

  animation: fallEvent linear forwards;
  transition:all 0.2s ease
}

@media (max-width:768px) {
  .randomEvent {
  position: fixed;

  width: 22.75vw;

  pointer-events: auto;
  cursor: pointer;

  user-select: none;
  -webkit-user-drag: none;

  animation: fallEvent linear forwards;
  transition:all 0.2s ease
}


}

.randomEvent:hover {
  filter:drop-shadow(1px 1px 0px #fff) drop-shadow(-1px 1px 0px #fff) drop-shadow(1px -1px 0px #fff) drop-shadow(-1px -1px 0px #fff) ;
  transform:scale(1.02)
}

@keyframes fallEvent {
  from {
    transform: translateY(-150px) rotate(0deg);
  }

  to {
    transform: translateY(110vh) rotate(10deg);
  }
}

.randomEvent.clicked {
  animation: none !important;

  transform: scale(1.15);

  opacity: 0;

  transition:
    opacity 2s ease,
    transform 2s ease;
}

#eventCounter {
position:absolute;
top:-12.5px;
right:17.5px;
  background-color: #88a4b7;
  color: white;
  padding: 5px;
  font-size: 16px;
   border: 10px solid #656060;
  cursor: pointer;
  border-radius:20px;
  
  z-index: 99999;
}


.hidden {
  display: none !important;
}